body {
  font-family: DM Sans;
}
.display-1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 10rem;
}
.display-1 > .mbr-iconfont {
  font-size: 16rem;
}
.display-2 {
  font-family: 'DM Sans', sans-serif;
  font-size: 5rem;
  line-height: 1.3;
}
.display-2 > .mbr-iconfont {
  font-size: 8rem;
}
.display-4 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
}
.display-4 > .mbr-iconfont {
  font-size: 1.76rem;
}
.display-5 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 1.4;
}
.display-5 > .mbr-iconfont {
  font-size: 2.88rem;
}
.display-7 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 6rem;
  }
}
@media (max-width: 767px) {
  .display-1 {
    font-size: 2.5rem !important;
  }
}
@media (max-width: 992px) {
  .display-4:not(.nav-link) {
    font-size: 0.66rem;
  }
}
@media (max-width: 992px) {
  .display-5 {
    font-size: 1.44rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 8rem;
    font-size: calc( 4.1499999999999995rem + (10 - 4.1499999999999995) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (4.1499999999999995rem + (10 - 4.1499999999999995) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 4rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 2.6rem;
  border-radius: 6px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 6px;
}
.bg-primary {
  background-color: #000000 !important;
}
.bg-success {
  background-color: #efff5d !important;
}
.bg-info {
  background-color: #000000 !important;
}
.bg-warning {
  background-color: #000000 !important;
}
.bg-danger {
  background-color: #000000 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-info,
.btn-info:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success,
.btn-success:active {
  background-color: #efff5d !important;
  border-color: #efff5d !important;
  color: #545d00 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #545d00 !important;
  background-color: #e7ff11 !important;
  border-color: #e7ff11 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #545d00 !important;
  background-color: #e7ff11 !important;
  border-color: #e7ff11 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cccccc;
  color: #cccccc;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #def600;
  color: #def600;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #545d00;
  background-color: #efff5d;
  border-color: #efff5d;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #545d00 !important;
  background-color: #efff5d !important;
  border-color: #efff5d !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #000000 !important;
}
.text-secondary {
  color: #ffffff !important;
}
.text-success {
  color: #efff5d !important;
}
.text-info {
  color: #000000 !important;
}
.text-warning {
  color: #000000 !important;
}
.text-danger {
  color: #000000 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #333333 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #ffffff !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #f9ffc3 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #333333 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #333333 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #333333 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #ffffff !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #000000;
}
.alert-warning {
  background-color: #000000;
}
.alert-danger {
  background-color: #000000;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #000000;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b3b3b3;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.92rem;
}
blockquote {
  border-color: #000000;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #000000;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #000000;
  border-bottom-color: #000000;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #000000 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffffff !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23000000' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-rJ1R3GBSjq {
  padding-top: 30px;
  padding-bottom: 45px;
  background-color: #000000;
}
@media (max-width: 767px) {
  .cid-rJ1R3GBSjq .mbr-text {
    text-align: center;
  }
}
.cid-rJ1R3GBSjq .container-fluid {
  padding: 0;
}
@media (min-width: 992px) {
  .cid-rJ1R3GBSjq .media-content {
    max-width: 650px;
    padding: 5rem 2rem;
    margin: auto;
  }
}
.cid-rJ1R3GBSjq .media-content {
  padding: 5rem 2rem;
}
.cid-rJ1R3GBSjq img {
  height: 100%;
  object-fit: cover;
}
.cid-rJ1R3GBSjq .mbr-figure {
  height: 100%;
}
.cid-rJ1R3GBSjq .col-lg-5,
.cid-rJ1R3GBSjq .col-lg-7 {
  padding: 0;
}
.cid-rJ1R3GBSjq .row {
  margin: 0;
}
@media (max-width: 767px) {
  .cid-rJ1R3GBSjq .media-content {
    padding: 3rem 1rem;
  }
}
.cid-rJ1R3GBSjq H1 {
  color: #f049ca;
}
.cid-tzchkLba3f {
  padding-top: 165px;
  padding-bottom: 60px;
}
.cid-tzchkLba3f .card-box {
  z-index: 10;
  position: absolute;
  padding: 1rem;
}
.cid-tzchkLba3f .container-fluid {
  padding: 0;
}
.cid-tzchkLba3f h5 {
  margin: 0;
}
.cid-tzchkLba3f h3 {
  width: fit-content;
  display: inline-block;
  position: relative;
}
.cid-tzchkLba3f h3:before {
  position: absolute;
  content: '';
  left: 50%;
  top: -120px;
  bottom: 0;
  width: 1px;
  height: 100px;
  background: currentColor;
}
.cid-tzchkLba3f .card {
  margin: auto;
  height: 500px;
  perspective: 800px;
  cursor: pointer;
}
.cid-tzchkLba3f .card:hover {
  z-index: 99;
}
.cid-tzchkLba3f .card-wrapper {
  background-position: center;
  background-size: cover;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transform-origin: top;
  position: relative;
  overflow: hidden;
}
.cid-tzchkLba3f .card-wrapper:hover {
  transform: rotateX(20deg);
}
.cid-tzchkLba3f .card-wrapper:hover:before {
  transform: translateY(-10%);
  opacity: 1;
}
.cid-tzchkLba3f .card-wrapper:before {
  content: "";
  height: 100%;
  width: 100%;
  background: linear-gradient(190deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 90%);
  clip-path: polygon(0 0, 100% 0, 100% 25%, 0 75%);
  opacity: 0;
  position: absolute;
  transition: all 0.3s;
  transform: translateY(-100%);
}
.cid-tzchkLba3f .card-wrapper a {
  height: 100%;
}
.cid-tzchkLba3f .card-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  pointer-events: all;
}
.cid-tzchkLba3f h4 {
  font-weight: 500;
  margin-bottom: 0;
}
.cid-tzchkLba3f .btn {
  margin: 0 !important;
  padding: 1rem 2rem;
}
@media (max-width: 767px) {
  .cid-tzchkLba3f .card-box {
    text-align: center;
  }
}
.cid-tzchkLba3f .mbr-text {
  color: #cccccc;
}
.cid-tzchkLba3f .card-date {
  color: #cccccc;
}
.cid-tzchkLba3f .card-wrapper {
  width: 300px;
  height: 300px;
  flex: none;
}
@media (max-width: 1200px) {
  .cid-tzchkLba3f .card-wrapper {
    max-width: 313px;
    max-height: 313px;
  }
}
@media (max-width: 992px) {
  .cid-tzchkLba3f .card-wrapper {
    max-width: 350px;
    max-height: 350px;
  }
}
@media (max-width: 768px) {
  .cid-tzchkLba3f .card-wrapper {
    max-width: 540px;
    max-height: 540px;
  }
}
@media (max-width: 576px) {
  .cid-tzchkLba3f .card-wrapper {
    max-width: 237px;
    max-height: 237px;
  }
}
.cid-tzchkLba3f .card {
  height: 300px;
  margin-bottom: 20px;
  align-items: center;
}
@media (max-width: 1200px) {
  .cid-tzchkLba3f .card {
    max-height: 313px;
  }
}
@media (max-width: 992px) {
  .cid-tzchkLba3f .card {
    max-height: 350px;
  }
}
@media (max-width: 768px) {
  .cid-tzchkLba3f .card {
    max-height: 540px;
  }
}
@media (max-width: 576px) {
  .cid-tzchkLba3f .card {
    max-height: 237px;
  }
}
.cid-tzchkLba3f H1 {
  color: #efff5d;
}
.cid-tzchkLba3f .mbr-section-subtitle,
.cid-tzchkLba3f .title-align {
  color: #ffffff;
}
.cid-tzcips2r3T.popup-builder {
  background-color: #ffffff;
}
.cid-tzcips2r3T.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-tzcips2r3T.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-tzcips2r3T .modal-content,
.cid-tzcips2r3T .modal-dialog {
  height: auto;
}
.cid-tzcips2r3T .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-tzcips2r3T .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-tzcips2r3T .form-wrapper .mbr-form .form-group,
  .cid-tzcips2r3T .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-tzcips2r3T .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-tzcips2r3T .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-tzcips2r3T .mbr-text {
  text-align: center;
  color: #efefef;
}
.cid-tzcips2r3T .pt-0 {
  padding-top: 0 !important;
}
.cid-tzcips2r3T .pb-0 {
  padding-bottom: 0 !important;
}
.cid-tzcips2r3T .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-tzcips2r3T .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-tzcips2r3T .modal-open {
  overflow: hidden;
}
.cid-tzcips2r3T .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-tzcips2r3T .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-tzcips2r3T .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-tzcips2r3T .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-tzcips2r3T .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-tzcips2r3T .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-tzcips2r3T .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-tzcips2r3T .modal-content {
  background: #465052;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-tzcips2r3T .margin-center-pos {
  margin-top: auto;
  margin-bottom: auto;
}
.cid-tzcips2r3T .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-tzcips2r3T .modal-backdrop.fade {
  opacity: 0;
}
.cid-tzcips2r3T .modal-backdrop.show {
  opacity: .5;
}
.cid-tzcips2r3T .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: none;
}
@media (min-width: 992px) {
  .cid-tzcips2r3T .modal-header {
    padding: 2rem 2rem 1rem;
  }
}
@media (max-width: 991px) {
  .cid-tzcips2r3T .modal-header {
    padding: 1rem;
  }
}
.cid-tzcips2r3T .modal-header .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-tzcips2r3T .modal-header .close svg {
  fill: #353535;
}
.cid-tzcips2r3T .modal-header .close:hover {
  opacity: 1;
}
.cid-tzcips2r3T .modal-header .close:focus {
  outline: none;
}
.cid-tzcips2r3T .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
  color: #efff5d;
}
.cid-tzcips2r3T .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
@media (min-width: 992px) {
  .cid-tzcips2r3T .modal-body {
    padding: 1rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tzcips2r3T .modal-body {
    padding: 1rem;
  }
}
.cid-tzcips2r3T .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: none;
  text-align: center;
}
@media (min-width: 992px) {
  .cid-tzcips2r3T .modal-footer {
    padding: 0rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tzcips2r3T .modal-footer {
    padding: 1rem;
  }
}
.cid-tzcips2r3T .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-tzcips2r3T .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-tzcips2r3T .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-tzcips2r3T .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-tzcips2r3T .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .cid-tzcips2r3T .modal-lg,
  .cid-tzcips2r3T .modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .cid-tzcips2r3T .modal-xl {
    max-width: 1140px;
  }
}
.cid-tzcips2r3T .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-tzcips2r3T .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-tzcips2r3T .form-group {
  margin-bottom: 1rem;
}
.cid-tzcips2r3T .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-tzcips2r3T .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-tzcips2r3T .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cid-tzcips2r3T .mbr-section-btn {
  margin: 0;
}
.cid-tzcips2r3T .mbr-section-btn .btn {
  margin: 0;
}
.cid-rOdNqVApnN {
  padding-top: 180px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/mbr-1920x1280.webp");
}
.cid-rOdNqVApnN .nav-tabs .nav-item.open .nav-link:focus,
.cid-rOdNqVApnN .nav-tabs .nav-link.active:focus {
  outline: none;
}
.cid-rOdNqVApnN .icon-wrap .mbr-iconfont {
  font-size: 1rem;
  padding-right: 0.5rem;
  display: block;
  cursor: pointer;
  transition: all 0.6s;
  color: currentColor;
}
.cid-rOdNqVApnN .icon-big {
  font-size: 2rem;
  padding-top: 2rem;
  display: inline-block;
  transition: all 0.3s;
}
.cid-rOdNqVApnN .icon-big:hover {
  color: #000000 !important;
}
.cid-rOdNqVApnN .content-col {
  margin: auto 0;
}
.cid-rOdNqVApnN img {
  width: 90%;
  margin: auto;
}
.cid-rOdNqVApnN h6 {
  margin: 0;
}
.cid-rOdNqVApnN h4 {
  width: fit-content;
  display: inline-block;
  position: relative;
}
.cid-rOdNqVApnN h4:before {
  position: absolute;
  content: '';
  left: 50%;
  top: -120px;
  bottom: 0;
  width: 1px;
  height: 100px;
  background: currentColor;
}
.cid-rOdNqVApnN .nav-tabs {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border: none;
  justify-content: space-around;
}
.cid-rOdNqVApnN .icon-wrap,
.cid-rOdNqVApnN .date-wrap {
  display: flex;
  align-items: center;
}
.cid-rOdNqVApnN .tabs-col {
  overflow: hidden;
}
.cid-rOdNqVApnN .tab-content {
  border-top: 1px solid lightgray;
  padding: 0rem;
  padding-top: 5rem;
}
.cid-rOdNqVApnN .nav-tabs .nav-link {
  color: #ffffff;
  font-style: normal;
  padding: 1rem 1.5rem;
  background: transparent;
  font-weight: 400;
  border: none;
  border-radius: 0;
  position: relative;
}
.cid-rOdNqVApnN .nav-tabs .nav-link:before {
  position: absolute;
  content: '';
  bottom: -5px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 1px solid #ffffff;
  background: white;
  transition: all 0.3s;
  z-index: 9;
}
.cid-rOdNqVApnN .nav-tabs .nav-link:after {
  position: absolute;
  content: '';
  bottom: 0px;
  right: 50%;
  width: 9999px;
  height: 1px;
  transition: all 0.3s;
  background: transparent;
}
.cid-rOdNqVApnN .nav-tabs .nav-link:hover {
  cursor: pointer;
}
.cid-rOdNqVApnN .nav-tabs .nav-link.active {
  font-weight: 400;
  font-style: normal;
}
.cid-rOdNqVApnN .nav-tabs .nav-link.active:before {
  background: #ffffff;
}
.cid-rOdNqVApnN .nav-tabs .nav-link.active:after {
  background: #ffffff;
}
@media (max-width: 992px) {
  .cid-rOdNqVApnN img {
    margin-bottom: 2rem;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .cid-rOdNqVApnN .nav-tabs {
    flex-direction: row;
  }
  .cid-rOdNqVApnN .mbr-text,
  .cid-rOdNqVApnN .nav-link {
    text-align: center;
  }
  .cid-rOdNqVApnN .nav-tabs .nav-link {
    margin-bottom: 1rem;
    border: 0;
  }
  .cid-rOdNqVApnN .nav-tabs .nav-link:after {
    content: none;
  }
  .cid-rOdNqVApnN .nav-item {
    min-width: 100px;
  }
  .cid-rOdNqVApnN .tab-content {
    border-top: 0px;
    padding-top: 2rem;
  }
}
.cid-rOdNqVApnN H1 {
  color: #ff2d55;
}
.cid-tyULHqPFuC {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
}
.cid-tyULHqPFuC .mbr-fallback-image.disabled {
  display: none;
}
.cid-tyULHqPFuC .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/background1.webp");
}
.cid-tyULHqPFuC .container {
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 1599px) {
  .cid-tyULHqPFuC .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.cid-tyULHqPFuC .row {
  margin-left: -25px;
  margin-right: -25px;
  justify-content: flex-start;
}
.cid-tyULHqPFuC .row > [class*="col"] {
  padding-left: 25px;
  padding-right: 25px;
}
@media (max-width: 1599px) {
  .cid-tyULHqPFuC .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .cid-tyULHqPFuC .row > [class*="col"] {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.cid-tyULHqPFuC .mbr-section-head {
  width: 100%;
}
.cid-tyULHqPFuC .mbr-section-title {
  color: #FF014E;
}
@media (max-width: 767px) {
  .cid-tyULHqPFuC .mbr-section-title {
    text-align: center;
  }
}
.cid-tyULHqPFuC .mbr-section-subtitle {
  color: #ffffff;
  margin-top: 15px;
}
@media (max-width: 767px) {
  .cid-tyULHqPFuC .mbr-section-subtitle {
    margin-top: 10px;
    text-align: center;
  }
}
.cid-tyULHqPFuC .card-row {
  align-items: stretch;
}
.cid-tyULHqPFuC .item {
  margin-top: 50px;
}
@media (max-width: 991px) {
  .cid-tyULHqPFuC .item {
    margin-top: 30px;
  }
}
.cid-tyULHqPFuC .item-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 30px;
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 10px 10px 19px #191b1f, -10px -10px 19px #23272b;
}
@media (max-width: 575px) {
  .cid-tyULHqPFuC .item-wrapper {
    padding: 20px;
  }
}
.cid-tyULHqPFuC .item-wrapper:hover .card-bg {
  opacity: 1;
}
.cid-tyULHqPFuC .item-wrapper:hover .item-img img {
  transform: scale(1.1);
}
.cid-tyULHqPFuC .card-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 19px;
  background: linear-gradient(to right bottom, #212428, #16181c);
  opacity: 0;
  transition: .4s all;
}
.cid-tyULHqPFuC .item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.cid-tyULHqPFuC .item-img img {
  width: 100%;
  aspect-ratio: 1.36;
  object-fit: cover;
  transition: 0.4s all;
}
.cid-tyULHqPFuC .card-box {
  position: relative;
  z-index: 5;
  padding-top: 18px;
}
.cid-tyULHqPFuC .card-title {
  position: relative;
  z-index: 5;
  color: #FF014E;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .cid-tyULHqPFuC .card-title {
    margin-bottom: 10px;
  }
}
.cid-tyULHqPFuC .card-text {
  position: relative;
  z-index: 5;
  color: #C4CFDE;
  margin-bottom: 0;
}
.cid-tyULHqPFuC .card-text a {
  transition: .4s all;
}
.cid-tyULHqPFuC .card-text a:hover {
  color: #000000 !important;
}
.cid-rJ1R6SihXk {
  padding-top: 180px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rJ1R6SihXk .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.5;
}
.cid-rJ1R6SihXk .container {
  max-width: 1400px;
  padding: 0 3rem;
}
.cid-rJ1R6SihXk textarea {
  min-height: 150px;
}
.cid-rJ1R6SihXk .row2 {
  justify-content: space-between;
  border: 2px solid #000000;
  padding: 3rem;
}
.cid-rJ1R6SihXk h3 {
  width: fit-content;
  display: inline-block;
  position: relative;
}
.cid-rJ1R6SihXk h3:before {
  position: absolute;
  content: '';
  left: 50%;
  top: -120px;
  bottom: 0;
  width: 1px;
  height: 100px;
  background: currentColor;
}
.cid-rJ1R6SihXk form .btn {
  border-radius: 30px;
  margin: 0.18rem;
}
.cid-rJ1R6SihXk .form-control,
.cid-rJ1R6SihXk .field-input {
  padding: 1rem;
  background-color: transparent;
  border: 2px solid #000000;
  color: #000000;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-rJ1R6SihXk .form-control::-webkit-input-placeholder,
.cid-rJ1R6SihXk .field-input::-webkit-input-placeholder,
.cid-rJ1R6SihXk .form-control::-webkit-input-placeholder,
.cid-rJ1R6SihXk .field-input::-webkit-input-placeholder {
  color: #000000;
}
.cid-rJ1R6SihXk .form-control:-moz-placeholder,
.cid-rJ1R6SihXk .field-input:-moz-placeholder,
.cid-rJ1R6SihXk .form-control:-moz-placeholder,
.cid-rJ1R6SihXk .field-input:-moz-placeholder {
  color: #000000;
}
.cid-rJ1R6SihXk .form-control:hover,
.cid-rJ1R6SihXk .field-input:hover,
.cid-rJ1R6SihXk .form-control:focus,
.cid-rJ1R6SihXk .field-input:focus {
  background-color: transparent;
  border-color: #000000;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-rJ1R6SihXk .form-control:hover::-webkit-input-placeholder,
.cid-rJ1R6SihXk .field-input:hover::-webkit-input-placeholder,
.cid-rJ1R6SihXk .form-control:focus::-webkit-input-placeholder,
.cid-rJ1R6SihXk .field-input:focus::-webkit-input-placeholder,
.cid-rJ1R6SihXk .form-control:hover::-webkit-input-placeholder,
.cid-rJ1R6SihXk .field-input:hover::-webkit-input-placeholder,
.cid-rJ1R6SihXk .form-control:focus::-webkit-input-placeholder,
.cid-rJ1R6SihXk .field-input:focus::-webkit-input-placeholder {
  color: #000000;
}
.cid-rJ1R6SihXk .form-control:hover:-moz-placeholder,
.cid-rJ1R6SihXk .field-input:hover:-moz-placeholder,
.cid-rJ1R6SihXk .form-control:focus:-moz-placeholder,
.cid-rJ1R6SihXk .field-input:focus:-moz-placeholder,
.cid-rJ1R6SihXk .form-control:hover:-moz-placeholder,
.cid-rJ1R6SihXk .field-input:hover:-moz-placeholder,
.cid-rJ1R6SihXk .form-control:focus:-moz-placeholder,
.cid-rJ1R6SihXk .field-input:focus:-moz-placeholder {
  color: #000000;
}
.cid-rJ1R6SihXk .jq-number__spin:hover,
.cid-rJ1R6SihXk .jq-number__spin:focus {
  background-color: transparent;
  border-color: #000000;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.cid-rJ1R6SihXk .jq-number__spin {
  background-color: transparent;
  border-color: #000000;
  color: #000000;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-rJ1R6SihXk input::-webkit-clear-button {
  display: none;
}
.cid-rJ1R6SihXk input::-webkit-inner-spin-button {
  display: none;
}
.cid-rJ1R6SihXk input::-webkit-outer-spin-button {
  display: none;
}
.cid-rJ1R6SihXk input::-webkit-calendar-picker-indicator {
  display: none;
}
@media (max-width: 767px) {
  .cid-rJ1R6SihXk .container {
    padding: 0 2rem;
  }
  .cid-rJ1R6SihXk .row2 {
    padding: 1rem 0;
  }
}
.cid-rJ1R6SihXk H2 {
  color: #000000;
}
.cid-rJ1R6SihXk .mbr-text,
.cid-rJ1R6SihXk .mbr-section-btn {
  color: #000000;
}
.cid-rJ1R7lUBYR {
  padding-top: 150px;
  padding-bottom: 120px;
  background-image: url("../../../assets/images/copy-of-copy-of-untitled-2000x727.webp");
}
.cid-rJ1R7lUBYR .row-links {
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rJ1R7lUBYR svg {
  position: absolute;
  top: -30px;
  left: 0;
}
.cid-rJ1R7lUBYR g rect {
  fill: #ffffff;
}
@keyframes size {
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.cid-rJ1R7lUBYR .social-row {
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
  padding-bottom: 2rem;
}
.cid-rJ1R7lUBYR .soc-item {
  background: transparent;
  width: 45px;
  margin: auto;
  height: 45px;
  transition: all 0.3s;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.cid-rJ1R7lUBYR .soc-item:hover {
  background: #ff2d55;
  animation-duration: 0.3s;
  animation-name: size;
}
.cid-rJ1R7lUBYR .media-container-row {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rJ1R7lUBYR .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-rJ1R7lUBYR .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-rJ1R7lUBYR .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-rJ1R7lUBYR .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rJ1R7lUBYR .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #ffffff;
}
.cid-rJ1R7lUBYR .media-container-row .social-list .soc-item {
  margin: 0 .3rem;
}
.cid-rJ1R7lUBYR .media-container-row .social-list a {
  margin: 0;
  opacity: 1;
  height: 26px;
  padding-right: 2px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rJ1R7lUBYR .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rJ1R7lUBYR .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rJ1R7lUBYR .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-rJ1R7lUBYR .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-twhjkFFSzi {
  z-index: 1000;
  width: 100%;
}
.cid-twhjkFFSzi nav.navbar {
  position: fixed;
}
.cid-twhjkFFSzi .container {
  max-width: 1312px;
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-twhjkFFSzi .container {
    flex-wrap: nowrap;
  }
}
.cid-twhjkFFSzi .container-custom {
  position: relative;
  width: 100%;
  padding: 10px 0;
}
.cid-twhjkFFSzi .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-twhjkFFSzi .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-twhjkFFSzi .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-twhjkFFSzi .dropdown-item:hover,
.cid-twhjkFFSzi .dropdown-item:focus {
  background: #000000 !important;
  color: white !important;
}
.cid-twhjkFFSzi .dropdown-item:hover span {
  color: white;
}
.cid-twhjkFFSzi .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-twhjkFFSzi .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-twhjkFFSzi .nav-dropdown .link {
  padding: 0.75em 1em !important;
}
.cid-twhjkFFSzi .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-twhjkFFSzi .nav-link {
  position: relative;
}
.cid-twhjkFFSzi .iconfont-wrapper {
  color: #002549 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-twhjkFFSzi .dropdown-menu,
.cid-twhjkFFSzi .navbar.opened {
  background: #000000 !important;
}
.cid-twhjkFFSzi .nav-item:focus,
.cid-twhjkFFSzi .nav-link:focus {
  outline: none;
}
.cid-twhjkFFSzi .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-twhjkFFSzi .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-twhjkFFSzi .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-twhjkFFSzi .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-twhjkFFSzi .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-twhjkFFSzi .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-twhjkFFSzi .navbar {
  min-height: 60px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: #000000;
}
@media (min-width: 992px) {
  .cid-twhjkFFSzi .navbar {
    min-height: 105px;
  }
}
.cid-twhjkFFSzi .navbar.opened {
  transition: all 0.3s;
}
.cid-twhjkFFSzi .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-twhjkFFSzi .navbar .navbar-logo img {
  width: auto;
}
.cid-twhjkFFSzi .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
@media (min-width: 992px) {
  .cid-twhjkFFSzi .navbar .navbar-collapse {
    width: 100%;
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .cid-twhjkFFSzi .navbar .navbar-nav-container {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
}
.cid-twhjkFFSzi .navbar.collapsed {
  justify-content: center;
}
.cid-twhjkFFSzi .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-twhjkFFSzi .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-twhjkFFSzi .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 5.3rem);
  }
}
.cid-twhjkFFSzi .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-twhjkFFSzi .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-twhjkFFSzi .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-twhjkFFSzi .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-twhjkFFSzi .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-twhjkFFSzi .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-twhjkFFSzi .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-twhjkFFSzi .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-twhjkFFSzi .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-twhjkFFSzi .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-twhjkFFSzi .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-twhjkFFSzi .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-twhjkFFSzi .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-twhjkFFSzi .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-twhjkFFSzi .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-twhjkFFSzi .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-twhjkFFSzi .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-twhjkFFSzi .navbar.navbar-short {
  min-height: 60px;
}
@media (min-width: 992px) {
  .cid-twhjkFFSzi .navbar.navbar-short {
    min-height: 105px;
  }
}
.cid-twhjkFFSzi .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-twhjkFFSzi .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-twhjkFFSzi .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
@media (min-width: 992px) {
  .cid-twhjkFFSzi .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translateY(-50%);
    width: 20%;
    min-height: 100%;
    z-index: 5;
  }
}
.cid-twhjkFFSzi .navbar-brand .navbar-caption {
  line-height: inherit !important;
  display: flex;
  flex-wrap: nowrap;
  color: #002549;
}
.cid-twhjkFFSzi .navbar-brand .navbar-caption span {
  line-height: inherit !important;
  font-weight: inherit !important;
  color: #000000;
}
.cid-twhjkFFSzi .navbar-brand .navbar-caption:hover {
  color: #000000;
}
.cid-twhjkFFSzi .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-twhjkFFSzi .dropdown-item.active,
.cid-twhjkFFSzi .dropdown-item:active {
  background-color: transparent;
}
.cid-twhjkFFSzi .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-twhjkFFSzi .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-twhjkFFSzi .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-twhjkFFSzi .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000000;
}
.cid-twhjkFFSzi .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-twhjkFFSzi .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-twhjkFFSzi ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-twhjkFFSzi .navbar-buttons {
  text-align: center;
}
@media (min-width: 992px) {
  .cid-twhjkFFSzi .navbar-buttons {
    width: 40%;
    text-align: right;
  }
}
.cid-twhjkFFSzi .navbar-buttons .btn {
  min-width: 144px;
  font-weight: 400;
}
.cid-twhjkFFSzi button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-twhjkFFSzi button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-twhjkFFSzi button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-twhjkFFSzi button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-twhjkFFSzi button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-twhjkFFSzi button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-twhjkFFSzi nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-twhjkFFSzi nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-twhjkFFSzi nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-twhjkFFSzi nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-twhjkFFSzi .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-twhjkFFSzi a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #002549;
}
.cid-twhjkFFSzi .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-twhjkFFSzi .navbar {
    height: 60px;
  }
  .cid-twhjkFFSzi .navbar.opened {
    height: auto;
  }
  .cid-twhjkFFSzi .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
@media screen and (-ms-high-contrast: active) and (min-width: 992px), (-ms-high-contrast: none) and (min-width: 992px) {
  .cid-twhjkFFSzi .navbar {
    min-height: 105px;
  }
}
.cid-tzckvDBjmc.popup-builder {
  background-color: #ffffff;
}
.cid-tzckvDBjmc.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-tzckvDBjmc.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-tzckvDBjmc .modal-content,
.cid-tzckvDBjmc .modal-dialog {
  height: auto;
}
.cid-tzckvDBjmc .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-tzckvDBjmc .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-tzckvDBjmc .form-wrapper .mbr-form .form-group,
  .cid-tzckvDBjmc .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-tzckvDBjmc .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-tzckvDBjmc .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-tzckvDBjmc .mbr-text {
  text-align: center;
  color: #efefef;
}
.cid-tzckvDBjmc .pt-0 {
  padding-top: 0 !important;
}
.cid-tzckvDBjmc .pb-0 {
  padding-bottom: 0 !important;
}
.cid-tzckvDBjmc .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-tzckvDBjmc .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-tzckvDBjmc .modal-open {
  overflow: hidden;
}
.cid-tzckvDBjmc .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-tzckvDBjmc .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-tzckvDBjmc .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-tzckvDBjmc .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-tzckvDBjmc .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-tzckvDBjmc .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-tzckvDBjmc .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-tzckvDBjmc .modal-content {
  background: #465052;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-tzckvDBjmc .margin-center-pos {
  margin-top: auto;
  margin-bottom: auto;
}
.cid-tzckvDBjmc .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-tzckvDBjmc .modal-backdrop.fade {
  opacity: 0;
}
.cid-tzckvDBjmc .modal-backdrop.show {
  opacity: .5;
}
.cid-tzckvDBjmc .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: none;
}
@media (min-width: 992px) {
  .cid-tzckvDBjmc .modal-header {
    padding: 2rem 2rem 1rem;
  }
}
@media (max-width: 991px) {
  .cid-tzckvDBjmc .modal-header {
    padding: 1rem;
  }
}
.cid-tzckvDBjmc .modal-header .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-tzckvDBjmc .modal-header .close svg {
  fill: #5f1111;
}
.cid-tzckvDBjmc .modal-header .close:hover {
  opacity: 1;
}
.cid-tzckvDBjmc .modal-header .close:focus {
  outline: none;
}
.cid-tzckvDBjmc .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
  color: #efff5d;
}
.cid-tzckvDBjmc .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
@media (min-width: 992px) {
  .cid-tzckvDBjmc .modal-body {
    padding: 1rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tzckvDBjmc .modal-body {
    padding: 1rem;
  }
}
.cid-tzckvDBjmc .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: none;
  text-align: center;
}
@media (min-width: 992px) {
  .cid-tzckvDBjmc .modal-footer {
    padding: 0rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tzckvDBjmc .modal-footer {
    padding: 1rem;
  }
}
.cid-tzckvDBjmc .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-tzckvDBjmc .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-tzckvDBjmc .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-tzckvDBjmc .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-tzckvDBjmc .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .cid-tzckvDBjmc .modal-lg,
  .cid-tzckvDBjmc .modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .cid-tzckvDBjmc .modal-xl {
    max-width: 1140px;
  }
}
.cid-tzckvDBjmc .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-tzckvDBjmc .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-tzckvDBjmc .form-group {
  margin-bottom: 1rem;
}
.cid-tzckvDBjmc .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-tzckvDBjmc .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-tzckvDBjmc .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cid-tzckvDBjmc .mbr-section-btn {
  margin: 0;
}
.cid-tzckvDBjmc .mbr-section-btn .btn {
  margin: 0;
}
.cid-tzckwdy2Xg.popup-builder {
  background-color: #ffffff;
}
.cid-tzckwdy2Xg.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-tzckwdy2Xg.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-tzckwdy2Xg .modal-content,
.cid-tzckwdy2Xg .modal-dialog {
  height: auto;
}
.cid-tzckwdy2Xg .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-tzckwdy2Xg .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-tzckwdy2Xg .form-wrapper .mbr-form .form-group,
  .cid-tzckwdy2Xg .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-tzckwdy2Xg .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-tzckwdy2Xg .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-tzckwdy2Xg .mbr-text {
  text-align: center;
  color: #efefef;
}
.cid-tzckwdy2Xg .pt-0 {
  padding-top: 0 !important;
}
.cid-tzckwdy2Xg .pb-0 {
  padding-bottom: 0 !important;
}
.cid-tzckwdy2Xg .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-tzckwdy2Xg .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-tzckwdy2Xg .modal-open {
  overflow: hidden;
}
.cid-tzckwdy2Xg .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-tzckwdy2Xg .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-tzckwdy2Xg .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-tzckwdy2Xg .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-tzckwdy2Xg .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-tzckwdy2Xg .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-tzckwdy2Xg .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-tzckwdy2Xg .modal-content {
  background: #465052;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-tzckwdy2Xg .margin-center-pos {
  margin-top: auto;
  margin-bottom: auto;
}
.cid-tzckwdy2Xg .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-tzckwdy2Xg .modal-backdrop.fade {
  opacity: 0;
}
.cid-tzckwdy2Xg .modal-backdrop.show {
  opacity: .5;
}
.cid-tzckwdy2Xg .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: none;
}
@media (min-width: 992px) {
  .cid-tzckwdy2Xg .modal-header {
    padding: 2rem 2rem 1rem;
  }
}
@media (max-width: 991px) {
  .cid-tzckwdy2Xg .modal-header {
    padding: 1rem;
  }
}
.cid-tzckwdy2Xg .modal-header .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-tzckwdy2Xg .modal-header .close svg {
  fill: #7f1933;
}
.cid-tzckwdy2Xg .modal-header .close:hover {
  opacity: 1;
}
.cid-tzckwdy2Xg .modal-header .close:focus {
  outline: none;
}
.cid-tzckwdy2Xg .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
  color: #efff5d;
}
.cid-tzckwdy2Xg .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
@media (min-width: 992px) {
  .cid-tzckwdy2Xg .modal-body {
    padding: 1rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tzckwdy2Xg .modal-body {
    padding: 1rem;
  }
}
.cid-tzckwdy2Xg .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: none;
  text-align: center;
}
@media (min-width: 992px) {
  .cid-tzckwdy2Xg .modal-footer {
    padding: 0rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tzckwdy2Xg .modal-footer {
    padding: 1rem;
  }
}
.cid-tzckwdy2Xg .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-tzckwdy2Xg .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-tzckwdy2Xg .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-tzckwdy2Xg .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-tzckwdy2Xg .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .cid-tzckwdy2Xg .modal-lg,
  .cid-tzckwdy2Xg .modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .cid-tzckwdy2Xg .modal-xl {
    max-width: 1140px;
  }
}
.cid-tzckwdy2Xg .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-tzckwdy2Xg .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-tzckwdy2Xg .form-group {
  margin-bottom: 1rem;
}
.cid-tzckwdy2Xg .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-tzckwdy2Xg .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-tzckwdy2Xg .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cid-tzckwdy2Xg .mbr-section-btn {
  margin: 0;
}
.cid-tzckwdy2Xg .mbr-section-btn .btn {
  margin: 0;
}
