@font-face {
   font-family: 'AnglicanText';
   font-display: swap;
   src: url('file:///C:/Users/Cody/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-02-18_145125/fonts/AnglicanText/font.ttf');
}
